<div data-ng-controller="ItemsAvailabilityController as ctrl" data-ng-show="isItemSelected()" data-ng-cloak">

  <div class="row">
    <h2 class="lead col-md-12">{{MESSAGES.UNAVAILABILITY_OF_ITEM}} {{item}}</h2>
  </div>

  <div class="row">
    <div class="col-md-6">

      <div class="panel panel-default">
        <div class="panel-heading">{{MESSAGES.ADD_DATE_RANGES}}</div>
        <div class="panel-body">

          <div data-ng-if="isSubmitted()">
            <div data-ng-messages="dateRangeForm.from.$error">
              <div data-ng-message="required" class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">{{MESSAGES.ERROR}}:</span> {{MESSAGES.DATE_FROM_REQUIRED}}
              </div>
            </div>
            <div data-ng-messages="dateRangeForm.to.$error">
              <div data-ng-message="required" class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">{{MESSAGES.ERROR}}:</span> {{MESSAGES.DATE_TO_REQUIRED}}
              </div>
            </div>
            <div data-ng-messages="dateRangeForm.$error">
              <div data-ng-message="invalidDateRange" class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">{{MESSAGES.ERROR}}:</span> {{MESSAGES.DATE_RANGE_INVALID}}
              </div>
              <div data-ng-message="dateRangeOverlap" class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">{{MESSAGES.ERROR}}:</span> {{MESSAGES.DATE_RANGE_OVERLAP}}
              </div>

            </div>
          </div>

          <form name="dateRangeForm" role="form" novalidate data-ng-submit="submit()">
            <div data-date-range-validation data-ng-model="ctrl.range" data-datetime-format="{{PARAMS.DATETIME_FORMAT_API}}">

              <div class="form-group" data-ng-class="{'has-error': ctrl.isSubmitted() && dateRangeForm.from.$error}">
                <label class="control-label" for="from">{{MESSAGES.FROM}}</label>
                <input class="form-control" name="from" id="from" data-ng-model="ctrl.range.from" required data-format="{{PARAMS.DATETIME_FORMAT_API}}" data-ng-model-options="{ updateOn: 'blur' }" data-moment-picker="ctrl.range.from">
              </div>

              <div class="form-group" data-ng-class="{'has-error': ctrl.isSubmitted() && dateRangeForm.to.$error}">
                <label class="control-label" for="to">{{MESSAGES.TO}}</label>
                <input class="form-control" name="to" id="to" data-ng-model="ctrl.range.to" required data-format="{{PARAMS.DATETIME_FORMAT_API}}" data-ng-model-options="{ updateOn: 'blur' }" data-moment-picker="ctrl.range.to">
              </div>

            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary" aria-label="{{MESSAGES.ADD}}" value="Add">{{MESSAGES.ADD}}</button>
              <button type="reset" class="btn btn-warning" aria-label="{{MESSAGES.RESET}}" value="Reset" data-ng-click="reset()">{{MESSAGES.RESET}}</button>
            </div>

          </form>

        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div data-item-availability-list></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div data-item-availability-output></div>
    </div>
  </div>
</div>