<div class="panel panel-default">
  <div class="panel-heading">{{MESSAGES.LIST_OF_DATE_RANGES}} {{item}}</div>
  <div data-ng-if="!hasCurrentItemDateRanges()" class="panel-body">
    <p>{{MESSAGES.NO_DATE_RANGES}}</p>
  </div>
  <div data-ng-if="hasCurrentItemDateRanges()" class="panel-body">
    <table class="table">
      <thead>
        <th>From</th>
        <th>To</th>
        <th></th>
      </thead>
      <tbody>
        <tr data-ng-repeat="range in getCurrentItemDateRanges() | orderBy: 'from'">
          <td>{{range.from | date : PARAMS.DATETIME_FORMAT_VIEW}}</td>
          <td>{{range.to | date : PARAMS.DATETIME_FORMAT_VIEW}}</td>
          <td>
            <button type="button" class="btn btn-danger btn-sm" data-ng-click="remove(range)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>