<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{MESSAGES.SELECT_ITEM}}:</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li data-ng-repeat="item in items"><a href="index.html#/api/availability/{{item}}">Item {{item}}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <button type="button" class="btn btn-success navbar-btn" data-ng-click="sendItemsAvailabilityData()">{{MESSAGES.ACCEPT_AND_SEND}}</button>
        </li>
      </ul>
    </div>
  </div>
</nav>